<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>Forgot your password?</title>
</head>
<body style="background: linear-gradient(90deg, #EECFBA, #C5DDE8)">
<div class="center">

	</br>
	<h1 class="h3 mb-3 font-weight-normal">Forgot your password?</h1>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    &nbsp;Enter your&nbsp;<%= f.label :email %>:<br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
</br>
  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary mb-2" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>



</div>
</body>
</html>
































