<body style="background: linear-gradient(90deg, #EECFBA, #C5DDE8)">
<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto"></ul>
		<form class="form-inline my-2 my-lg-0">
<% if user_signed_in? %><span style="color:white">Hello, <%= current_user.name %>!&nbsp;&nbsp;
			<% if current_user.active? %><% else %><br/>Your account is locked&nbsp;&nbsp;<% end %></span>
		<ul class="list-group list-group-horizontal-xl">
			<li class="list-group-item"><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
			<% if current_user.active? %><li class="list-group-item"><%= link_to 'Persons profile', user_root_path %></li><% end %>
		</ul>
		<% else %>
		<ul class="list-group list-group-horizontal-xl">
			<li class="list-group-item"><%= link_to 'Log in', new_user_session_path %></li>
			<li class="list-group-item"><%= link_to 'Sign up', new_user_registration_path %></li>
		</ul><% end %>
    		</form>
	</div>
</nav>
</header>
<main role="main">
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Homepage</h1>
			<table class="table table-hover">
				<tr><th>
<div>Hello my dear friend!</div><div style="font-weight:normal"> This web application was created as part of a training assignment. You can sign up/log in and go to the "Persons profile" section.</div>
				</th></tr>
			</table>
		</div>
	</div>
</main>
</body> 