<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Пример на bootstrap 4: Пользовательская форма и дизайн для простой формы входа.">
	<title>Log in</title>
	<link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
	<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
	<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
	<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
	<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
	<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#563d7c">
	<style>
		.bd-placeholder-img {
		font-size: 1.125rem;
		text-anchor: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		}

		@media (min-width: 768px) {
		.bd-placeholder-img-lg {
		font-size: 3.5rem;}
		}
   .center {
    width: 300px; /* Ширина элемента в пикселах */

    margin: auto;
   }
	</style>
	<link href="signin.css" rel="stylesheet">
</head>
<body class="text-center" style="background: linear-gradient(90deg, #EECFBA, #C5DDE8)">
<div class="center">
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-4481610-59', 'auto');
	ga('send', 'pageview');
</script>
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter39705265 = new Ya.Metrika({ id:39705265, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/39705265" style="position:absolute; left:-9999px;" alt="Yandex.Metrika" /></div></noscript> <!-- /Yandex.Metrika counter -->

	</br>
	<h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
	</div>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
	</div>
	<div class="checkbox mb-3">
		<label>
		<% if devise_mapping.rememberable? %>
		<div class="field">
			<%= f.check_box :remember_me %>
			<%= f.label :remember_me %>
		</div>
		<% end %>
		</label>
	</div>
	<div class="actions">
		<%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
	</div>
	<% end %>
<%= render "devise/shared/links" %>

</div>
</body>
</html>







